---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/abc/conditions/q/00000.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.076'
      Last-Modified:
      - Thu, 27 Mar 2014 05:23:24 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Atlanta, GA\",\n\t\t\"city\":\"Atlanta\",\n\t\t\"state\":\"GA\",\n\t\t\"state_name\":\"Georgia\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"00000\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"33.85010147\",\n\t\t\"longitude\":\"-84.28269196\",\n\t\t\"elevation\":\"283.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Storybook Estates, Decatur, Georgia\",\n\t\t\"city\":\"Storybook
        Estates, Decatur\",\n\t\t\"state\":\"Georgia\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"33.803398\",\n\t\t\"longitude\":\"-84.268501\",\n\t\t\"elevation\":\"0
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KGADECAT7\",\n\t\t\"observation_time\":\"Last
        Updated on March 27, 1:23 AM EDT\",\n\t\t\"observation_time_rfc822\":\"Thu,
        27 Mar 2014 01:23:22 -0400\",\n\t\t\"observation_epoch\":\"1395897802\",\n\t\t\"local_time_rfc822\":\"Thu,
        27 Mar 2014 01:23:24 -0400\",\n\t\t\"local_epoch\":\"1395897804\",\n\t\t\"local_tz_short\":\"EDT\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0400\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"32.4
        F (0.2 C)\",\n\t\t\"temp_f\":32.4,\n\t\t\"temp_c\":0.2,\n\t\t\"relative_humidity\":\"40%\",\n\t\t\"wind_string\":\"Calm\",\n\t\t\"wind_dir\":\"West\",\n\t\t\"wind_degrees\":270,\n\t\t\"wind_mph\":0.0,\n\t\t\"wind_gust_mph\":0,\n\t\t\"wind_kph\":0,\n\t\t\"wind_gust_kph\":0,\n\t\t\"pressure_mb\":\"1026\",\n\t\t\"pressure_in\":\"30.30\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"11
        F (-12 C)\",\n\t\t\"dewpoint_f\":11,\n\t\t\"dewpoint_c\":-12,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"32
        F (0 C)\",\n\t\t\"windchill_f\":\"32\",\n\t\t\"windchill_c\":\"0\",\n\t\t\"feelslike_string\":\"32
        F (0 C)\",\n\t\t\"feelslike_f\":\"32\",\n\t\t\"feelslike_c\":\"0\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"0\",\n\t\t\"UV\":\"0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"soil_temp_f\":
        \"0.0\",\n\t\t\"soil_moisture\": \"0.0\",\n\t\t\"leaf_wetness\": \"0.0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/GA/Atlanta.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KGADECAT7\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=33.803398,-84.268501\"\n\t}\n}\n"
  recorded_at: Thu, 27 Mar 2014 05:23:24 GMT
recorded_with: VCR 2.8.0
