---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/abc/forecast/q/00000.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.186'
      Last-Modified:
      - Thu, 27 Mar 2014 05:24:39 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"11:00 PM EDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/partlycloudy.gif\",\n\t\t\"title\":\"Thursday\",\n\t\t\"fcttext\":\"Partly
        cloudy. High of 63F. Winds from the SE at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy. High of 17C. Winds from the SE at 10 to 15 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"chancetstorms\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/chancetstorms.gif\",\n\t\t\"title\":\"Thursday
        Night\",\n\t\t\"fcttext\":\"Mostly cloudy in the evening, then overcast with
        a chance of a thunderstorm and rain showers. Low of 50F. Winds from the SSE
        at 5 to 10 mph. Chance of rain 60%.\",\n\t\t\"fcttext_metric\":\"Mostly cloudy
        in the evening, then overcast with a chance of a thundersto[...]
